*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #F0ECE5;
}


/***** HEADER COMPONENET *****/
.header{
  background-color: #000000;
  color:#F0ECE5;
  height: 18vh;
}

.header h1{
  padding: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .header{
    height: 12vh;
    width: 100%
  }
}



/***** MAIN COMPONENET *****/
.main{
  height:70vh ;
  padding: 3rem 2rem;
}

/**-- TABLE --**/
.main table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2.2rem;
}

table td, th {
  border: 1px solid #bcbcbc;
  text-align: left;
  padding: 12px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}



/***** FOOTER COMPONENET *****/
.footer{
  background-color: #000000;
  color:#F0ECE5;
  height: 12vh;
  width: 100%
}

.footer h3{
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
}